langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf 
python-dotenv
ipykernel
pandas>=2.2,<3.0
pymupdf
python-docx
docx2txt
unstructured[docx]
unstructured[xlsx]
openpyxl
jq
matplotlib
## Embeddings
langchain-huggingface
sentence-transformers
langchain-classic
langchain-experimental